.App {
  text-align: center;
}

.main {
  font-family: "BureauGrotesque-OneSeven", Impact, sans-serif;
  font-weight: lighter;
  padding-left: 30px;
  color: white;
  background-color: #f25a23;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 30px 10px;
  font-size: 1.5em;
}

.card-wrap {
  width: 100%;
}