/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content f26419  */
.modal-content {
  background-color: #26413c;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  width: 50%;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f25a23;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #f25a23;
  padding-left: 30px;
}

h2 {
  font-family: "BureauGrotesque-OneSeven", Impact, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  padding-left: 30px;
}

.quote::before {
  content: "\201C";
  position: relative;
  color: #f25a23;
  font-size: 2.5em;
}

.quote::after {
  content: "\201D";
  color: #f25a23;
  font-size: 2.5em;
  margin-left: 5px;
}

.author {
  color: white;
  margin: 30px;
}
